.newsletterBottom80px {
  padding-bottom: 80px;
}

.newsletterBottom60px {
  padding-bottom: 60px;
}

.newsletterBottom35px {
  padding-bottom: 35px;
}

.newsletterBottom20px {
  padding-bottom: 20px;
}

.newsletterRight10px {
  padding-right: 10px;
}

.newsletterLeft10px {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .newsletterBottom80px {
    padding-bottom: 50px;
  }
  
  .newsletterBottom60px {
    padding-bottom: 40px;
  }

  .newsletterBottom35px {
    padding-bottom: 20px;
  }

  .newsletterBottom20px {
    padding-bottom: 10px;
  }

  .newsletterRight10px {
    padding-right: 5px;
  }
  
  .newsletterLeft10px {
    padding-left: 5px;
  }
}
