@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.newsletterTitleOfferPart {
  font-size: 30px;
  line-height: 1.20;
  color: #000000;
}

.newsletterTitle {
  font-size: 30px;
  line-height: 1.20;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .newsletterTitleOfferPart {
    font-size: 20px;
  }

  .newsletterTitle {
    font-size: 25px;
  }
}

.newsletterSubtitle {
  font-size: 18px;
  line-height: 1.20;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .newsletterSubtitle {
    font-size: 16px;
  }
}

.newsletterContainer {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .newsletterContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.newsletterBottom35px {
  padding-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .newsletterBottom35px {
    padding-bottom: 20px;
  }
}

.newsletterBottom20px {
  padding-bottom: 20px;
}

.newsletterBottom60px {
  padding-bottom: 60px;
}
