.newsletterContainer {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .newsletterContainer {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.newsletterTitle {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .newsletterTitle {
    font-size: 25px;
  }
}

.newsletterBottom35px {
  padding-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .newsletterBottom35px {
    padding-bottom: 20px;
  }
}

.newsletterSubtitle {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .newsletterSubtitle {
    font-size: 16px;
  }
}