@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.newsletterCta {
  color: #000;
  font-size: 20px;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
}
