<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body>
  <table cellspacing="0" cellpadding="0" align="center" width="650" id="newsletter">
    <tbody>
      <tr>
        <td>
          <div class="framer-ymdgrn-container">
            <table cellspacing="0" cellpadding="0" width="650"
              style="background-color: rgb(255, 240, 234); padding-left: 20px; padding-bottom: 35px;">
              <tr>
                <td align="left" style="padding-bottom: 35px; color: rgb(0, 0, 0);"><span
                    style="font-size: 30px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;;">Party perfection
                    awaits</span></td>
              </tr>
              <tr>
                <td align="left"><span
                    style="font-size: 18px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;;">Whether you're
                    hosting a cosy dinner or throwing a New Year's bash, we've got you covered with our selection of
                    accessories and furniture perfect for such occasions.</span></td>
              </tr>
            </table>
          </div>
          <div class="framer-195eroe-container">
            <table cellspacing="0" cellpadding="0" align="center" width="650">
              <thead>
                <tr>
                  <td align="left"
                    style="padding-bottom: 35px; background-color: rgb(255, 240, 234); padding-left: 20px;"><span
                      style="font-size: 30px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;;">Tables</span>
                  </td>
                </tr>
                <tr>
                  <td><a href="https://www.beliani.ch/"><img loading="lazy" width="100%"
                        src="https://beliani.info/newsletter/2022/230412Category1.png" style="display: block;"></a></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="left" style="padding: 20px 20px 35px; background-color: rgb(255, 240, 234);">
                    <table cellspacing="0" cellpadding="0" align="center" width="100%" style="padding-bottom: 20px;">
                      <tbody>
                        <tr>
                          <td style="padding-right: 10px;">
                            <div class="framer-1sg5quk-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a
                                      href="https://www.beliani.co.uk/extending-dining-table-160-200-x-90-cm-white-sunds.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=19873"><img
                                        loading="lazy" src="https://beliani.info/newsletter/2022/230412Category11.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">SUNDS</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">329.99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">569.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                          <td>
                            <div class="framer-1p9oxum-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a
                                      href="https://www.beliani.co.uk/round-dining-table-o-120-cm-light-wood-orin.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=19873"><img
                                        loading="lazy" src="https://beliani.info/newsletter/2022/230412Category12.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">ORIN</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">1
                                              319,99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">329.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" align="center" width="100%">
                      <tbody>
                        <tr>
                          <td style="padding-right: 10px;">
                            <div class="framer-9r2evp-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a
                                      href="https://www.beliani.co.uk/glass-top-round-dining-table-o-90-cm-gold-savoni.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=19873"><img
                                        loading="lazy" src="https://beliani.info/newsletter/2022/230412Category13.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">SAVONI</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">529,99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">169.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                          <td>
                            <div class="framer-1dkorw6-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a
                                      href="https://www.beliani.co.uk/dining-table-180-x-90-cm-light-wood-graham.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=19873"><img
                                        loading="lazy" src="https://beliani.info/newsletter/2022/230412Category14.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">GRAHAM</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">279.99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">219.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td align="center" style="padding-bottom: 80px; background-color: rgb(255, 240, 234);"><a
                      href="https://www.beliani.ch/" style="color: rgb(0, 0, 0);"><span
                        style="font-size: 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;; padding-left: 20px;">Shop
                        now</span></a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="framer-182a71a-container">
            <table cellspacing="0" cellpadding="0" align="center" width="650">
              <thead>
                <tr>
                  <td align="left"
                    style="padding-bottom: 35px; background-color: rgb(255, 240, 234); padding-left: 20px;"><span
                      style="font-size: 30px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;;">Kitchen
                      Trolleys</span></td>
                </tr>
                <tr>
                  <td><a href="https://www.beliani.ch/"><img loading="lazy" width="100%"
                        src="https://beliani.info/newsletter/2022/230412Category2.png" style="display: block;"></a></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="left" style="padding: 20px 20px 35px; background-color: rgb(255, 240, 234);">
                    <table cellspacing="0" cellpadding="0" align="center" width="100%" style="padding-bottom: 20px;">
                      <tbody>
                        <tr>
                          <td style="padding-right: 10px;">
                            <div class="framer-1nv8zbz-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a href="https://www.beliani.ch/"><img loading="lazy"
                                        src="https://beliani.info/newsletter/2022/230412Category21.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">LARINO</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;"></span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;"></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                          <td>
                            <div class="framer-hfpuqf-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a href="https://www.beliani.ch/"><img loading="lazy"
                                        src="https://beliani.info/newsletter/2022/230412Category22.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">COLTON</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">99.99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">199.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" align="center" width="100%">
                      <tbody>
                        <tr>
                          <td style="padding-right: 10px;">
                            <div class="framer-1pszcsv-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a href="https://www.beliani.ch/"><img loading="lazy"
                                        src="https://beliani.info/newsletter/2022/230412Category23.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">GENOA</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">99.99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">199.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                          <td>
                            <div class="framer-a30h86-container">
                              <table cellspacing="0" cellpadding="0" align="center" width="300">
                                <tr>
                                  <td align="center"><a href="https://www.beliani.ch/"><img loading="lazy"
                                        src="https://beliani.info/newsletter/2022/230412Category24.png"
                                        style="display: block;"></a>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; font-family: &quot;Open Sans&quot;;">BALME</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><span
                                              style="color: rgb(0, 0, 0); font-size: 18px; display: inline-block; padding-right: 8px; font-family: &quot;Open Sans&quot;;">99.99</span><span
                                              style="color: rgb(0, 0, 0); font-size: 16px; text-decoration: line-through; font-family: &quot;Open Sans&quot;;">199.99</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td align="center" style="padding-bottom: 80px; background-color: rgb(255, 240, 234);"><a
                      href="https://www.beliani.ch/" style="color: rgb(0, 0, 0);"><span
                        style="font-size: 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;; padding-left: 20px;">Shop
                        now</span></a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>