.newsletterContainer {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .newsletterContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.newsletterBottom20px {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .newsletterBottom20px {
    padding-bottom: 10px;
  }
}